
<br>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="form-group">
            <h3 >Enregistrer un bateau </h3>
            <input  id="label" type="text" class="form-control" placeholder="Marque et model du bateau" ><br>
            <div class="container">
                <div class="row">
                  <div class="col">
                    <input  id="label" type="number" class="form-control" placeholder="Nombre de places..." >
                  </div>
                  <div class="col">
                    <input  id="label" type="float" class="form-control" placeholder="Prix journalier (en euro)..." >
                  </div>
                </div>
            </div>
            <label for="type-select">Type de bateau:</label>

            <select class="form-select"  name="type" id="pet-select">
                <option value="1">Bateau coque-open</option>
                <option value="2">Bateau cabine</option>
                <option value="3">Bateau semi-rigide</option>
                <option value="4">Bateau de course</option>
                <option value="5">Bateau sports nautiques</option>
                <option value="6">Jet-ski</option>
                <option value="7">Voilier</option>
            </select><br> 

            Permis necessaire
            <input type="checkbox" class="form-check-input" name="" id="" value="Permis necessaire ..." checked> <br>
        
            position actuel
            <div class="container">
                <div class="row">
                  <div class="col">
                         <input  id="label" type="text" class="form-control" placeholder="Latitude" >
                  </div>
                  <div class="col">
                     <input  id="label" type="text" class="form-control" placeholder="Longitude" >
                  </div>
                </div>
           
            Description 
            <input  id="label" type="textarea" class="form-control" placeholder=" décrivez votre bateau..." >
        </div>

       
    </div>
</div>