<!--<ng-form *ngIf="tenant$ | async as tenant" appValidatePassword>-->
<!--  <p-card header="Your profile" subheader="Edit your profile">-->
<!--    <ng-template pTemplate="content">-->
<!--      &lt;!&ndash; E-Mail &ndash;&gt;-->
<!--      <div class="field py-4">-->
<!--        <div class="p-inputgroup">-->
<!--          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>-->
<!--          <span class="p-float-label">-->
<!--          <input pInputText type="email" id="tenant-input-email" disabled>-->
<!--          <label for="tenant-input-email">E-Mail</label>-->
<!--        </span>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; Username (First name and last name) &ndash;&gt;-->
<!--      <div class="field pb-4">-->
<!--        <div class="p-inputgroup">-->
<!--          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--          <span class="p-float-label">-->
<!--          <input pInputText type="text" id="tenant-input-firstname" required>-->
<!--          <label for="tenant-input-firstname">First name</label>-->
<!--        </span>-->
<!--          <span class="p-float-label">-->
<!--          <input pInputText type="text" id="tenant-input-lastname" required>-->
<!--          <label for="tenant-input-lastname">Last name</label>-->
<!--        </span>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; Phone &ndash;&gt;-->
<!--      <div class="field pb-4">-->

<!--      </div>-->

<!--      &lt;!&ndash; Security &ndash;&gt;-->
<!--      <div class="field pb-4">-->
<!--        <div class="p-inputgroup">-->
<!--          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>-->
<!--          <span class="p-float-label">-->
<!--            <p-password id="tenant-input-password" toggleMask="true"></p-password>-->
<!--            <label for="tenant-input-password">Password</label>-->
<!--          </span>-->

<!--          <span class="p-float-label">-->
<!--            <p-password id="tenant-input-password-confirm" toggleMask="true"></p-password>-->
<!--            <label for="tenant-input-password-confirm">Confirm password</label>-->
<!--          </span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="footer">-->
<!--      <p-button type="submit" icon="pi pi-save" iconPos="left"></p-button>-->
<!--    </ng-template>-->
<!--  </p-card>-->
<!--</ng-form>-->

<ng-container *ngIf="tenant$ | async as tenant">
  <ng-container *ngIf="group">
    <div class="container">
      <form [formGroup]="group" (ngSubmit)="onSubmit()">
        <h2 class="title">Your profile</h2>
        <h3 class="subtitle">Edit your title</h3>

        <!-- E-Mail -->
        <div class="field is-horizontal">
          <div class="field-label is-normal"><label class="label">E-Mail</label></div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="email" [ngModel]="tenant.email" formControlName="email" disabled>
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
              </p>
            </div>
          </div>
        </div>

        <!-- Name -->
        <div class="field is-horizontal">
          <div class="field-label is-normal"><label class="label">Name</label></div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" [(ngModel)]="tenant.firstname" formControlName="firstname">
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              </p>
              <p *ngIf="firstname.errors?.required" class="help">First name is required.</p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="text" [(ngModel)]="tenant.lastname" formControlName="lastname">
                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
              </p>
              <p *ngIf="lastname.errors?.required" class="help">Last name is required.</p>
            </div>
          </div>
        </div>

        <!-- Phone number -->
        <div class="field is-horizontal">
          <div class="field-label is-normal"><label class="label">Phone</label></div>
          <div class="field-body">
            <div class="field is-expanded">
              <div class="field has-addons">
                <p class="control">
                  <button class="button is-static">+33</button>
                </p>
                <p class="control is-expanded">
                  <input class="input" type="tel" [(ngModel)]="tenant.phone" formControlName="phone">
                </p>
              </div>
              <p *ngIf="phone.errors?.required">Phone number is required.</p>
            </div>
          </div>
        </div>

        <!-- Boat permit -->
        <div class="field is-horizontal">
          <div class="field-label is-normal"><label class="label">Extras</label></div>
          <div class="field-body">
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="tenant.hasPermit" formControlName="hasPermit">
                Yes, I have a boat permit
              </label>
            </div>
          </div>
        </div>

        <!-- Password -->
        <div class="field is-horizontal">
          <div class="field-label is-normal"><label class="label">Password</label></div>
          <div class="field-body">
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="password" [(ngModel)]="tenant.password" formControlName="password">
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </p>
              <p *ngIf="group.errors?.passwordsDoNotMatch || password.errors || confirmPassword.errors"
                 class="help">
                Invalid password</p>
            </div>
            <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input" type="password" formControlName="confirmPassword">
                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
              </p>
              <p class="help">Confirm your password</p>
            </div>
          </div>
        </div>

        <!-- Save -->
        <div class="field is-horizontal">
          <div class="field-label is-normal"></div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button" type="submit" [class.is-primary]="group.valid"
                        [class.is-disabled]="group.invalid" [disabled]="group.invalid">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</ng-container>
